table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin: 5px 5px;
  }
  
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  button {
    background-color:  #555555;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
  }

form {
  border: 1px solid #dddddd;
  margin: 5px 5px;
  padding: 5px;
  } 