.App {
  text-align: left;
}
.airlines-image {
  background-image: url("https://www.eflights.ie/site/eflights.ie/img/background.jpg");
  background-color: #cccccc;
  height: 750px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}